// pack selectors
.pack-option {
  @apply w-20;
  @apply text-gray-400;
  @apply font-bold text-center uppercase;

  .pack-option-box {
    @apply cursor-pointer;
    @apply border-2 border-gray-400;
    @apply w-full h-20;
    @apply flex flex-col justify-center;
  }

  .pack-option-number {
    @apply text-3xl font-bold leading-none;
  }

  .pack-option-text,
  .pack-option-meta {
    @apply text-xs tracking-wider;
  }

  .pack-option-meta {
    @apply font-normal pt-1;
  }

  &:hover,
  &.active {
    @apply text-ovalGreen;

    .pack-option-box {
      @apply border-ovalGreen;
    }
  }

  &.active {
    .pack-option-box {
      @apply bg-ovalGreen;
      @apply text-white;
    }
  }
}

.flex label {
  @apply mr-2;
}

// option states
label {
  @apply block;

  .button-input {
    @apply border-gray-400 text-gray-400;
    @apply border;
    @apply bg-white;

    &:hover {
      @apply border-ovalGreen text-ovalGreen;
    }
  }

  // active states
  &.active {
    .button-input {
      @apply border-ovalGreen;
      @apply bg-ovalGreen text-white;
    }
  }
}

.filter,
#openTags {
  @apply leading-none inline-block px-2 py-1;
  @apply border;
  @apply text-sm;
  @apply bg-gray-300 border-gray-300;
  @apply text-gray-700;
  @apply cursor-pointer;

  &:hover {
    @apply bg-gray-400;
  }

  &.active {
    @apply border-ovalGreen text-gray-800 bg-ovalGreen;
    @apply cursor-default;
  }

  .filter-icon {
    @apply ml-px;

    &-icon {
      @extend .filter-icon;
      @apply mx-0;
    }
  }

  &.dead {
    @apply hidden;
  }
}

.filters {
  @apply relative;
  @apply flex flex-wrap;

  #openTags,
  .filter {
    @apply mr-1 mb-1;
  }
}

#tagsBox {
  transform: translateY(0);
  transition-duration: 200ms;
  @apply max-w-2xl;
  @apply overflow-hidden rounded-r rounded-bl;

  @apply z-20 mt-5;
  @apply absolute top-0 left-0;
  @apply shadow;

  @apply opacity-0;
  @apply invisible;

  &.active {
    transform: translateY(10px);
    @apply opacity-100;
    @apply visible;
  }
}
