$activeGray: 500;
$deadGray: 300;

.tabs-section {
  @apply my-10;
  @apply relative;

  @screen md {
    @apply my-24;
  }

  .tabs-section-container {
    @apply mx-auto relative;
  }

  .tabs-section-title {
    @apply relative inline-block;
    @apply cursor-default;
    @apply bg-ovalGreen px-2 py-1 leading-none;
    @apply border border-ovalGreen;
    @apply text-2xs #{!important};

    @extend .label-text;
  }

  .tab-box-title {
    @extend .subtitle;
  }

  .tabs-meta,
  .tabs {
    @apply flex flex-wrap justify-start;
    @apply px-0;

    @screen md {
      @apply px-2;
    }
  }

  .tabs {
    @apply relative;
    @apply w-full z-10 -mb-px;

    .tab {
      @apply cursor-pointer;
      @apply w-full text-center leading-none;
      @apply rounded-t border border-b-0 text-xs font-bold;
      @apply uppercase tracking-wider px-5 py-3 -mr-px relative;

      @screen md {
        @apply w-auto;
      }

      &.active {
        @apply bg-white border-gray-500 text-gray-800 z-10;
      }

      &.dead {
        z-index: -1;
        @apply bg-transparent text-gray-500 border-gray-300 relative;

        &:hover {
          @apply text-gray-700;
        }
      }
    }
  }

  .tabs-box {
    @apply border border-gray-500 bg-white;
    @apply w-full relative;
    @apply z-0;
    @apply p-10;
    @apply rounded-md;

    .tabs-box-content {
      &.active {
        @apply block;
      }

      &.dead {
        @apply hidden;
      }
    }
  }
}

.content-box {
  @apply bg-gray-200;
  @apply p-5;

  &-px-none {
    @extend .content-box;
    @apply px-0;
  }

  &-p-none {
    @extend .content-box;
    @apply p-0;
  }
}

// faq
.faq-box {
  .faq {
    @apply cursor-pointer;

    &:not(:last-child) {
      @apply border-b;
    }

    .faq-header {
      @apply relative;
      @apply pl-8 pr-2 py-5;

      .faq-icon {
        @apply absolute left-0 top-0;
        @apply text-base;
        @apply text-gray-600;

        transform: translateX(-150%) translateY(1px);

        i {
          transition: all $animationSpeed;
        }
      }

      .faq-question {
        @apply relative;
        @apply text-lg;
        @apply font-light;
      }
    }

    .faq-content {
      @apply pl-8 pr-2;
      @apply pb-0;
      @apply overflow-hidden;

      transition: all $animationSpeed;
      max-height: 0;
    }

    &.active {
      .faq-header {
        .faq-icon {
          @apply text-ovalGreen;

          i {
            transform: rotate(45deg);
          }
        }
      }

      .faq-content {
        max-height: 1000px;
        @apply pb-5;
      }
    }

    &.dead {
    }
  }
}

.anchor-box {
  @apply py-10;
  @apply px-5;
  @apply relative;

  @screen xl {
    @apply px-0;
  }

  .anchor-box-wrapper {
    @apply mx-auto;

    .anchors {
      @extend .filters;
      @apply w-full py-5;

      transition-duration: 500ms;

      @apply z-20 bg-white;
      @apply fixed top-0 left-0;
      @apply border-r;
      @apply pt-24 px-5;
      @apply h-full block;
      @apply w-48;

      transform: translate(-100%, 0);
      &.active {
        transform: translate(0, 0);
      }

      .anchor {
        @extend .filter;
      }
    }

    .anchor-box-content {
      // @apply py-10 relative;

      .anchor-box-content-wrapper {
        @apply flex flex-wrap -mx-2;

        .anchor-box-sections {
          @apply px-2 flex-1;

          .anchor-section {
            @apply mt-10 mb-24 relative;

            .subtitle::before {
              content: "#";

              @apply text-ovalGreen absolute;
              @apply hidden;

              &:hover {
                @apply text-ovalGreenDark;
              }

              @screen xl {
                @apply block;
                transform: translateX(-110%);
              }
            }

            &#competitive_comparison,
            &#instructable {
              @apply rounded;
              @apply border p-10;
            }
          }
        }

        .anchor-box-sidebar {
          @apply hidden;
          @apply relative;
          @apply px-2 w-64;
          @apply flex-none;

          .anchors-wrapper {
            .anchors {
              transition-duration: 200ms;
              transform: translate(0, 0);

              @apply pt-0 p-2;
              @apply border;
              @apply h-auto;

              // calculate px-2 from parent container into width
              width: calc(theme("width.64") - theme("padding.2") * 2);

              @apply relative;

              // restyle anchors
              .anchor {
                @apply bg-transparent border-none;
                @apply flex items-center;
                @apply px-3 py-0 my-3;
                @apply leading-none;

                &:hover {
                  @apply text-ovalGreen;
                }

                &.active {
                  @apply font-bold text-ovalGreen;
                }
              }
            }

            &.stuck {
              @apply fixed left-auto;
              @apply top-0 mt-24 pt-5;
            }
          }
        }

        @screen md {
          .anchor-box-sections {
            @apply flex-1;
          }

          .anchor-box-sidebar {
            @apply block;
          }
        }
      }
    }
  }
}

.anchor-content {
  &.columned {
    column-count: 1;

    @screen md {
      column-count: 2;
    }

    @screen xl {
      column-count: 3;
    }
  }

  p {
    @apply mb-5;
  }
}
