@charset "utf-8";

// var overrides
@import "tailwindcss/base";
@import "tailwindcss/components";

*,
*::before,
*::after {
    box-sizing: border-box;
}

// plugins
@import "vars";
@import "global";
@import "general";
@import "elements";
@import "forms";
@import "components";
@import "article";
@import "typography";
@import "tabs";
@import "accordion";
@import "filterGrid";
@import "blockAnimations";
@import "annotations";
@import "../../node_modules/node-waves/dist/waves.min.css";

// .lazyload-wrapper {
//     @apply h-full;
// }

.drift-zoom-pane {
    @apply bg-white #{!important};
}

.pillar-icon-box {
    .pillar-icon {
        @apply bg-gray-400;
    }

    &.active {
        .pillar-icon {
            @apply bg-ovalGreen;
        }
    }
}

.card::after {
    content: "";
    padding-top: 130%;

    @apply block rounded;
}

.label-text {
    @apply uppercase font-medium;
    @apply text-base text-gray-800 leading-none;
}

.label {
    @apply cursor-default;
    @apply bg-ovalGreen px-2 py-1 leading-none;
    @apply border border-ovalGreen;

    &.label-blue {
        @apply bg-skyBlue border-skyBlue;
        @apply cursor-pointer;

        &:hover {
            @apply bg-blue-500 border-blue-500;
        }
    }

    &.label-disabled {
        @apply bg-gray-300 border-gray-300;
        @apply text-gray-900;
        @apply cursor-pointer;
    }

    &.clickable:hover {
        @apply cursor-pointer;
        @apply border-ovalGreenDark;
        @apply bg-ovalGreenDark;
    }

    .label-text {
        @apply text-xs #{!important};
    }

    &.simple {
        @apply bg-white;

        .label-text {
            @apply text-ovalGreen;
        }

        &.clickable:hover {
            @apply bg-white;

            .label-text {
                @apply text-ovalGreenDark;
            }
        }
    }

    &.plain {
        @apply px-0 py-0;
        @apply bg-transparent;
        @apply border-none;
    }
}

.labels {
    @apply flex;
    @apply -mb-2;

    .label {
        @apply mb-2;
    }
}

.blog-item {
    .image,
    .content {
        transition-duration: 300ms;
    }

    &:hover {
        .content {
            transform: translateY(-5px);
        }

        .image {
            transform: scale(1.1);
        }
    }
}

.tab {
    @apply relative;

    * {
        @apply pointer-events-none;
    }
}

.nmr-image-gallery-box {
    .nmr-image-gallery {
        @apply w-full max-w-full;

        .nmr-image {
            @apply w-full bg-cover bg-no-repeat bg-center;
            @apply overflow-hidden relative;
        }
    }

    .nmr-image-gallery-nav {
        .nmr-image {
            @apply cursor-pointer;
            @apply bg-cover bg-no-repeat bg-center;
            @apply relative overflow-hidden;
            @apply opacity-50;

            &::after {
                content: "";
                @apply block;
                @apply absolute top-0 left-0;
                @apply w-full h-full;
                @apply border-4 border-transparent;
            }

            &:hover {
                @apply opacity-100;
                &::after {
                    @apply border-transparent;
                }
            }

            &.active {
                @apply opacity-100;
                &::after {
                    @apply border-ovalGreen;
                }
            }
        }
    }
}

.customizer {
    .customizer-product-box {
        @apply rounded overflow-hidden;
    }
}

.square-image {
    padding-top: 100%;

    @apply block w-full;
    // @apply rounded;
    @apply bg-cover bg-center bg-no-repeat;
    @apply bg-white;
}

.text-slide-animation {
    @apply relative;
    @apply overflow-hidden;

    .text {
        transition-duration: 200ms;
        line-height: theme("spacing.16");

        @apply block absolute top-0 left-0;
    }
}

.bg-white-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
}

.container {
    @apply mx-auto;
}

.nmr-container {
    @apply px-5;
    @apply mx-auto;
}

@import "tailwindcss/utilities";

// scroll down mouse
.moving-mouse-holder {
    margin-top: 60px;
    width: 170px;
}

.moving-mouse-holder .mouse {
    width: 26px;
    height: 40px;
    position: relative;
    right: 0;
    border-radius: 18px;
    border: 2px solid $white;

    @apply border-ovalGreen;
}

.moving-mouse-holder .mouse-button {
    @apply bg-ovalGreen;

    width: 4px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -2px;
    animation: mouse-scroll 1s infinite alternate;
}

@keyframes mouse-scroll {
    to {
        transform: translate(0, 6px) scale(1, 0.8);
    }
}

// [data-tippy-root] {
// .tippy-box {
//     @apply bg-slateBlue;
//     &[data-placement="top"] {
//     }
//     .tippy-backdrop {
//     }
.tippy-arrow {
    border-bottom-color: theme("colors.slateBlue") !important;
}
.tippy-content {
    @apply p-4;
    @apply bg-slateBlue;
    @apply rounded;
}
// }
// }
